---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Infos Pratiques">
	<main class="max-w-6xl mx-auto mt-8 px-6 py-12">

		<h1 class="text-4xl sm:text-5xl font-bold text-slate-900 text-center mb-12 uppercase tracking-wide">
			Infos Pratiques
		</h1>

		<section class="mb-12">
			<h1 class="text-4xl font-bold  text-slate-900  mb-4">TICKET</h1>
			<p class="text-base text-gray-700">Gratuit</p>
		</section>

		<section class="mb-12">
			<h1 class="text-4xl font-bold  text-slate-900  mb-4">HÉBERGEMENT</h1>
			<p class="text-base text-gray-700">Les festivaliers ont accès à une zone dédiée du parc près-la-rose pour installer des tentes pour le weekend.</p>
		</section>

		<section class="mb-12">
			<h1 class="text-4xl font-bold  text-slate-900  mb-4">TRANSPORT</h1>
			<p class="text-base text-gray-700">Le festival est accessible via le train, le bus, la voiture et le vélo. Il existe 2 parkings aux abords du parc. La gare et les arrêts de bus sont à proximité.</p>
		</section>

		<section class="mb-12">
			<h1 class="text-4xl font-bold  text-slate-900  mb-8">FAQ</h1>
			<div class="space-y-6">
				<div>
					<h2 class="text-2xl  text-slate-800 font-bold mb-2">Quels sont les horaires d'ouverture du festival ?</h2>
					<p class="text-base text-gray-700">Les horaires d'ouverture sont de 18h à 00h le samedi. Et fini à 23h le dimanche.</p>
				</div>
				<div>
					<h2 class="text-2xl  text-slate-800 font-bold mb-2">Y a-t-il des parkings ? Sont-ils payants ?</h2>
					<p class="text-base text-gray-700">Il y a deux parkings à disposition, payants.</p>
				</div>
				<div>
					<h2 class="text-2xl  text-slate-800 font-bold mb-2">Quels objets sont interdits ?</h2>
					<p class="text-base text-gray-700">Toutes substances illicites sont interdites.</p>
				</div>
			</div>
		</section>
	</main>
</Layout>